<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>

        {% if session['logged_in'] == True %}
        <li><a href="/logout">Logout <span class="sr-only"></span></a></li>
      {% else %}
        <li><a href="/login">Login <span class="sr-only"></span></a></li>
      {% endif %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>